:root {
  --color: blue;
}

.Create {
  position: relative;
}

.Create__Title {
  position: relative;
  background-color: #888888;
  color: whitesmoke;
  border: none;
  width: 600px;
  height: 50px;
  border: solid;
  border-color: rgb(104, 104, 104);
  border-width: 2px;
  padding-left: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}

.Create__Title::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}

.Create__Options {
  display: flex;
  animation-duration: 0.5s;
  animation-name: animationForCreateOptions;
  transition: all 0.25s ease-in-out;
}

.Create__PollOptions {
  max-height: 255px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*You can delete this if u want*/
.Create__Options:hover {
  transform: scale(1.05);
  margin-left: 60px;
}

.Create__Option {
  position: relative;
  background-color: #888888;
  color: whitesmoke;
  border: none;
  border: solid;
  height: 30px;
  width: 510px;
  border-color: rgb(104, 104, 104);
  border-width: 2px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.Create__Option::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}

.Create__Color {
  background-color: #888888;
  margin-bottom: 15px;
  margin-left: 5px;
  width: 15%;
  float: left;
  color: blue;
}

.Create__Blue {
  color: blue;
}

.Create__Red {
  color: red;
}

.Create__Green {
  color: green;
}

.Create__Purple {
  color: purple;
}

.Create__Orange {
  color: orange;
}

.Create__Gold {
  color: gold;
}

.Create__Black {
  color: black;
}

.Create__Color .Create__AddMore > .Create__Icon {
  color: whitesmoke;
}

.Create__AddMore > .Create__Icon:hover {
  color: whitesmoke;
}

.Create__Submit > .Create__SubmitButton {
  position: relative;
  border: none;
  color: whitesmoke;
  background-color: #0270ff;
  margin-top: 20px;
  /* width: 100%; */
  padding: 0px 20px;
  height: 60px;
  border-radius: 50px;
  font-size: 35px;
  letter-spacing: 5px;
}

.Create__Submit > .Create__SubmitButton:hover {
  color: whitesmoke;
  background-color: #529af8;
}

@keyframes animationForCreateOptions {
  0% {
    max-height: 0px;
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    max-height: 500px;
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .Create {
    margin: 0;
  }
}
